table {
  margin: 20px 0;
  border-collapse: collapse;
  width: 100%;

  thead {
    tr {
      background-color: #000;
      color: #fff;
    }
  }

  th, td {
    padding: 10px 5px
  }

  tbody {
    tr:nth-child(even) {
      background-color: #f3f3f3;
    }

    tr:hover {
      background-color: #e2e2e2;
      transition: all 0.3s ease;
    }

    tr.no-data {
      td {
        text-align: center;
      }
    }

    tr.no-data:hover {
      background-color: #fff;
    }
  }
}